<ion-header>
  <ion-toolbar>
    <ion-title>Pantalla5</ion-title>
    <div style="float: right;">
      <ion-button (click)="goToPantalla2()" routerDirection="forward">Volver</ion-button>
    </div>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div class="ion-padding">
    <ion-button (click)="goToPantalla1()" routerDirection="forward">Ir a la Pantalla 1</ion-button>
    <ion-button (click)="goToPantalla2()" routerDirection="forward">Ir a la Pantalla 2</ion-button>
    <ion-button (click)="goToPantalla3()" routerDirection="forward">Ir a la Pantalla 3</ion-button>
    <ion-button (click)="goToPantalla4()" routerDirection="forward">Ir a la Pantalla 4</ion-button>
  </div> 
</ion-content>
